.nav-menu{
    position: relative;
}
.nav-menu span{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
.carret{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    transition: transform 0.75s ease-in-out;
}
.carret.active{
    transform: rotate(180deg);
}

.nav-submenu{
    list-style: none;
    position: absolute;
    background-color: rgba(102,16,83,0.75);
    top:38px;
    left:3px;
    width: 150px;
    z-index: 50;
    border-radius: 5px;
}
.nav-submenu .submenu-item{
    /* display: block; */
    width: 100%;
    padding:12px 10px;
    font-weight: 100;
    transition: all 0.5s ease-in-out;
}
.nav-submenu .submenu-item:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.nav-submenu .submenu-item:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav-submenu .submenu-item:not(:last-child){
    border-bottom: 2px solid #fff;
}
.nav-submenu .submenu-item:hover{
    background-color: rgba(102,16,83,0.9);
}

.nav-submenu .submenu-item a{
    text-decoration: none;
    color:#fff;
    font-size: 1.1rem;
    display: block;
    height: 100%;
    width: 100%;
}